*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background: #b2deec;
}

.contenedor{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}
.contenido{
    width: 990px;
    height: 500px;
    margin: 180px;
    background: #00b4d8;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px black;
}

header h1{
    text-align: center;
}

article h3{
    text-align: center;
    padding: 50px;
    color: white;
}

form fieldset{
    padding: 60px;
    margin: 0 auto;
    width: 500px;
    color: white;
}


#boton{
    margin-left: 400px;
}

#boton1{
    width: 50%;
    background: #e71d36;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
}

#boton1 a{
    color: white;
    text-decoration: none;
}

#boton1:hover{
    transition: all 0.5ms;
    background: #ce4257;
    color: white;
}

.grid-item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
 }

 .uk-input, .uk-select, .uk-textarea {
    max-width: 100%;
    width: 25%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
}

.uk-button-primary {
    background-color: #0ead69;
    color: #fff;
    border: 1px solid transparent;
}

.uk-button-primary:hover{
    background-color: #3bceac;
}

#titleMain{
    color: black;
    font-size: 30px;
}

form fieldset {
    padding: 15px;
    margin: 0 auto;
    width: 500px;
    color: white;
}

.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
  }
  
  .grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .uk-h3, h3 {
    font-size: 1.5rem;
    line-height: 0.4;
}

.navbar-dark .navbar-nav .nav-link {
    color: #343a40;
}

#showTickt{
    width: 50%;
    height: 250px;
    display: block;
    background: #00B4D8;
    margin: auto;
    border-radius: 8px;
    margin-top: 20px;
}

#buttonBox{
    margin-top: 10px;
    width: 50%;
    height: 50px;
    font-size: 20px;
}